/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
    box-sizing: border-box;
}
/*Couleur d'arrière-plan */: #fdfffc
/*Couleur du texte*/ #011627
/*Tailles du texte */100%
/*Hauteur de ligne*/ 1.4
/*Police du texte Open Sans`, épaisseur 400 - https://fonts.google.com/specimen/Open+Sans
                                                    Police des titres Changa One, épaisseur 400 - https://fonts.google.com/specimen/Changa+One
                                                                                  Tailles des titres de niveau 1 2rem
                                                                                  Marge extérieure en bas de 1em
                                                                                  Tailles des titres de niveau 2 1.5rem
                                                                                  Marge extérieure en bas de .75em
                                                                                  Hauteur de ligne des paragraphes 1.5
Les liens du site sont rouges #e71d36 et ne sont pas soulignés