/* Titres */
h1, h2 {
    font-family: 'Changa One', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75em;
}

/* Paragraphes */
p {
    line-height: 1.5;
}

/* Liens */
a {
    color: #e71d36;
    text-decoration: none;
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 30px;
}

/* Logo */
header a {
    color: #fff;
    text-decoration: none;
}

header h1 {
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
}

header > a > p {
    margin-top: -5px;
}

/* Navigation menu */
header nav {
    padding: 10px 0;
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

header nav li {
    display: inline-block;
    margin: 0;
}

header nav a {
    display: inline-block;
    font-weight: 800;
    padding: 15px 10px;
    margin: 0 15px;
    color: #fff;
}

header nav a:hover {
    color: #2ec4b6;
}

/* Cacher Accueil sur mobile */
header nav li:first-child {
    display: none;
}

